@import url("./root.css");

/* background color or images */

.bg-container {
    background: var(--bg-container);
}

/* spacing */

.contProp {
    padding: 40px;
}

.gapMediaHeading {
    gap: 15px;
}

.mbheading {
    margin-bottom: 10px;
}

.mtRow {
    margin-top: 60px;
}

.mbPic {
    margin-bottom: 30px;
}

.marginCol {
    margin: 30px;
}

.myMediaSection {
    margin-top: 42px;
    margin-bottom: 43px;
}

/* buttons */

.devBtn {
    width: 156.5px;
    height: 52.7px;
    padding: 16.35px 27.25px 16.35px 27.25px;
    background: var(--btnClr);
    border: 1px solid transparent;
    transition: all 200ms linear;
}

.devBtn:hover {
    background: var(--whiteClr);
    border: 1px solid var(--btnClr);
    color: var(--btnClr) !important;
}

.treatBtn:hover {
    background: var(--whiteClr);
    border: 1px solid var(--btnClr);
    color: var(--btnClr) !important;
}

.treatBtn {
    width: 182.5px;
    height: 52.7px;
    padding: 16.35px 27.25px 16.35px 27.25px;
    background: var(--btnClr);
    border: 1px solid transparent;
    transition: all 200ms linear;
}

/* layout changes */

.whTopCornerImg {
    width: 532px;
    height: 462px;
}


.whBottomImg {
    width: 387px;
    height: 371px;
}

.line {
    width: 60px;
    height: 2px;
    background: var(--text-clr);
}

.boxPropCol {
    max-width: 510px;
    background: var(--whiteClr);
    border: 1.09px solid var(--brdrClr);
}

.picHeight {
    min-height: 390px;
}

.max-w-header-text {
    max-width: 799px;
}

/* positions */

.posCornerImg {
    top: -5%;
    left: -14%;
}

.posBottomImg {
    bottom: -12%;
    right: -13%;
    z-index: -1;
}